/*=============== BASE ===============*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: hsl(14, 55%, 55%); */
}

html {
    scroll-behavior: smooth;
}

body,
input,
textarea,
button {
    font-family: var(--font-secondary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
}

body {
    background-color: var(--color-bg-card);
    color: var(--color-text-primary);
    font-family: var(--font-secondary);
}

input,
button,
textarea {
    border: none;
    outline: none;
}


h1 {
    font-size: var(--font-size-heading-lg);
    font-family: var(--font-primary);
    line-height: var(--line-height-heading);
}

h2,
h3 {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-primary);
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 2rem;
}

.section__title {
    text-align: center;
    font-size: var(--font-size-heading-md);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 2rem;
}

.main {
    overflow: hidden;
}


.button {
    background-color: var(--color-primary);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-body);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-primary-hover);
}