/*=============== HEADER & NAV ===============*/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    background-color: transparent;
    /* background-color: var(--color-bg-section); */
    z-index: var(--z-fixed);
    /* padding: 0 1rem; */

}


.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .container {
    max-width: 1120px;  
    already in Reusable css classes
    margin-inline: 1.5rem;
} */

.nav__logo {
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
}

.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: var(--color-text-primary);
    cursor: pointer;
}

.nav__menu {
    width: 40%;
}

/* Navigation for mobile devices */

@media screen and (max-width: 1150px) {

    /* CSS rules here */
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(var(--color-bg-section), 70%, 20%, .2);
        backdrop-filter: blur(16px);
        --webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 7rem 3rem;
        transition: right .4s;
    }

}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav__link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--first-color-light);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;

}

.nav__link:hover {
    color: var(--first-color-light);
}

.nav__link:hover::after {
    width: 30%;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.15rem;
}

/* Show menu */
.show-menu {
    right: 0;
}

/* Active Link */

.active-link {
    color: var(--first-color-light);
}

.active-link::after {
    width: 30%;
}

/* Add blur header */
.blur__header::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: hsl(var(--color-bg-section), 70%, 4%, .2);
    backdrop-filter: blur(16px);
    --webkit-backdrop-filter: blur(16px);
    left: 0;
    top: 0;
    z-index: -1;
    /* for header logo and menu should be show  */
}
